html{
margin: 0;
  font-family: 'Montez', cursive;
  /*font-family: 'Montserrat', sans-serif;*/
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 font-size: 18px;
}

.mainContainer {
  position: relative;
min-width: 450px;
width: 100%;
height: 600px;
background-color: rgba(0, 100, 30)
}
.mainContainer img{
  width: 320px;
position: absolute;
top: 0;
left: 30;
}
.mainContainer h1{
  margin-left: 200px;
}

.parallax {
  /* The image used */
  background-image: url("../Assets/pexels-aleksandar-pasaric-325185.png");

  /* Set a specific height */
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-size: 60px;
color:darkgoldenrod
}
.ButTon{
  width: 220px;
  height: 40px;
  margin-top:20px;
  font-size:20px;
  backgrount-color: goldenrod;
  border-radius: 15px;
  box-radius: gray 2px 3px;
  border: none;
}

